body, h1 {
  text-align: center;
  color: red;
  font-family: "Brush Script MT", "Brush Script Std", cursive;
  font-size: 200%;
}

h1 {
  opacity: 0;
  margin-bottom: 0;
}

* {
  vector-effect: non-scaling-stroke;
  stroke-width: 2;
}

circle {
  fill: none;
}
circle.pen {
  fill: black;
  stroke: none;
}

rect.border {
  stroke: none;
  fill: none;
  vector-effect: non-scaling-stroke;
}
